<div class="container mt-5">
  <h1 class="float-left"> Lista de Usuarios Censados </h1>
  <button class="btn btn-primary float-right" (click)="saveData()">Guardar en el cubo</button>
  <button [disabled]=!userService.resultados class="btn btn-danger float-right mr-2" (click)="eraseData()">Borrar bases de datos</button>

  <table class="table table-dark mb-5">
    <thead>
      <tr>
        <th scope="col">Cedula</th>
        <th scope="col">Tipo de personalidad</th>
        <th scope="col">Puntuacion total</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let result of userService.resultados | paginate: { itemsPerPage: 10, currentPage: p }">
        <th scope="row">{{result.cedula}}</th>
        <td>{{result.tipo}}</td>
        <td>{{result.total}}</td>
      </tr>
    </tbody>
  </table>

  <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
  
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>

</div>